{%- assign influencer = page.influencer | default: page.influencers[0] | default: site.influencer -%}
{%- assign influencer = site.data.influencers[influencer] | default: influencer -%}
{{influencer}}

<div class="page-influencer h-card p-influencer">
  {%- if influencer.picture -%}
    {%- if influencer.picture contains "://" -%}
      {%- assign influencer_picture = influencer.picture -%}
    {%- else -%}
      {%- assign influencer_picture = influencer.picture | relative_url -%}
    {%- endif -%}
    <img src="{{ influencer_picture }}" class="influencer-avatar u-photo" alt="{{ influencer.name }}">
  {%- endif -%}

  <div class="influencer-info">
    {%- if influencer.title -%}
      <div class="influencer-title">
        {% if site.data.text[site.locale].by %}<em>{{ site.data.text[site.locale].by }}</em> {% endif %}<span class="p-name">{{ influencer.name }}</span>
      </div>
    {%- endif -%}
    {% if site.read_time %}{% include read-time.html %}{% endif %}
    {% if page.date %}{% include page-date.html %}{% endif %}
  </div>
</div>
